<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8">

	<title>Book store</title>
	<meta name="description" content="The most popular books">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Custom Browsers Color Start -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#15B5B0">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#15B5B0">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#15B5B0">
	<!-- Custom Browsers Color End -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
	<header class="main-header">
		<div class="container">

		</div>
	</header>

{% block content %}{% endblock %}


<footer class="main-footer" id="footer">
		<div class="container">
			<ul class="footer-menu">
                <li>+1415 8904 583</li>
                <li>Kiev, Ukraine</li>
			</ul>
		</div>
		<div class="container">
			<div class="copyright">Copyright © 2015 -<script>new Date().getFullYear()>2016&&document.write(" " + new Date().getFullYear());</script>
                Book store. All rights reserved.</div>
		</div>
	</footer>

</body>
</html>